@charset "UTF-8";
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #6a727f;
  max-width: 1920px;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  outline: none;
  border: 0;
  color: white;
}

input {
  line-height: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* - thụt vào 2 bên 15px để hiển thị trên mobile ko sát lề */
}

.second-font {
  font-family: "Raleway", sans-serif;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 230px;
  height: 55px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open sans", sans-serif;
}
.btn-primary {
  background-color: #4944f2;
}
.btn-secondary {
  background-color: transparent;
  background-image: linear-gradient(to right, #f475a0, #feac3d);
}

h1,
h2,
h3,
h4 {
  color: #393e46;
}

.heading {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.5555555556;
  font-family: "Raleway", sans-serif;
  color: #393e46;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  line-height: 1.8888888889;
}

.title {
  font-size: 22px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  line-height: 1.5909090909;
  margin-bottom: 20px;
  display: block;
  color: #393e46;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header-phone {
  color: #393e46;
  font-weight: 300;
}
.header-phone span {
  margin-left: 15px;
  font-weight: 600;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0 60px;
}

.hero {
  position: relative;
  margin-bottom: 200px;
}
.hero-image {
  margin-left: auto;
  max-width: 65%;
}
.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-caption {
  font-size: 72px;
  font-weight: 600;
}
.hero-heading {
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;
  color: #393e46;
}
.hero-link {
  display: inline-block;
  margin-top: 40px;
  font-size: 18px;
  text-decoration: underline;
  color: #6a727f;
  font-weight: 600;
}

.portfolio {
  margin-bottom: 200px;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 90px;
  margin-bottom: 95px;
}
.portfolio-column {
  display: flex;
  flex-direction: column;
  gap: 85px 0;
}
.portfolio-image {
  margin-bottom: 40px;
  display: block;
}
.portfolio-title {
  display: block;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #393e46;
}
.portfolio-category {
  font-size: 14px;
  color: #6a727f;
}
.portfolio-link {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.partner-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px 100px;
  margin-bottom: 200px;
}
.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.partner-item:hover {
  opacity: 0.5;
}

.team {
  background-color: #f7f8f9;
}
.team-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  padding: 150px 0;
}
.team-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 370px;
  width: 100%;
}
.team-heading {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.55;
  margin-bottom: 40px;
}
.team-desc {
  font-size: 18px;
  line-height: 1.8888888889;
  margin-bottom: 60px;
}
.team-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}
.team-img2 {
  margin-top: 30px;
  margin-left: auto;
}
.blog-main {
  margin-bottom: 150px;
}
.blog-header {
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog-image {
  margin-bottom: 40px;
}
.blog-category {
  display: inline-block;
  color: #393e46;
}
.contact {
  padding: 150px 0;
  background: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-main {
  max-width: 600px;
  margin: 0 auto;
}
.contact-header {
  color: white;
  text-align: center;
  margin-bottom: 100px;
}
.contact-heading {
  color: white;
  font-weight: 500;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-field {
  display: block;
  padding: 20px 30px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  transition: border 0.2s ease;
}
.contact-field::-webkit-input-placeholder {
  color: white;
}
.contact-field::-moz-input-placeholder {
  color: white;
}
.contact-field:focus {
  border-color: white;
}
.contact-area {
  line-height: 1.55;
  resize: none;
  min-height: 100px;
}

.footer-top {
  padding: 150px 0;
  background-color: #282f3a;
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 130px;
}
.footer-logo {
  margin-bottom: 40px;
}
.footer-desc {
  font-size: 16px;
  margin-bottom: 40px;
}
.footer-links {
  list-style: none;
}
.footer-item {
  margin-bottom: 30px;
}
.footer-link {
  display: inline-block;
  color: #6a727f;
}
.footer-info {
  list-style: none;
  margin-bottom: 40px;
}
.footer-info li {
  margin-bottom: 15px;
}
.footer p {
  line-height: 30px;
}
.footer-heading {
  color: white;
  margin-bottom: 40px;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.footer .social-item {
  cursor: pointer;
  font-size: 30px;
  color: #6a727f;
}
.footer-bottom {
  background-color: #252b36;
}
.footer-container {
  padding: 60px 0;
  position: relative;
}
.footer-send {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #461cff;
  padding: 20px;
  border-radius: 4px;
  font-size: 30px;
  color: white;
}

/*# sourceMappingURL=app.css.map */
