.portfolio {
    margin-bottom: 200px;
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 90px;

        margin-bottom: 95px;
    }

    &-column {
        display: flex;
        flex-direction: column;
        gap: 85px 0;
    }

    &-item {
    }

    &-image {
        margin-bottom: 40px;
        display: block;
    }

    &-title {
        display: block;
        font-size: 22px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: $gray;
    }

    &-category {
        font-size: 14px;
        color: $gray-light;
    }

    &-link {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
